/*font-family: 'PT Sans', sans-serif;*/
/*Common CSS*/
body{
	font-family:'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #898989;
	padding-top: 109px;
}
.c_padding{
	padding-top: 100px;
	padding-bottom: 120px;
}
/*Common CSS end*/
/*Header Starts*/
header{
	background-color: #fcdb00;
	padding: 20px 0;
}
.cu_nav{}
.logo{}
.c_toggle{
	color: rgba(21, 20, 20, 1) !important;
	
}
.menu{}
.menu ul li{}
.menu ul li a{
	margin: 0 35px;
	font-size: 22px;
	font-weight: 700;
	color: #010101 !important;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover {
	color: white !important;
}

/*Header Ends */
/*Slider Starts*/
.slider{
	background-color: #fcdb00;
	padding-bottom: 100px;
}
/*Indicator Starts*/
.cid {
     bottom: -75px;
    
}
.cid [data-bs-target] {
    
    width: 15px;
    height: 15px;
   border-radius: 50%;
   /*background-color: #fff;
   opacity: 0.5;*/
   
    }
/*Indicator Ends*/
.s_text{
	margin-top: 70px;
	color: #010101;
}
.s_text h1{
	margin: 0;
	font-size: 32px;
	font-weight: 700;
	color: #010101;
}
.s_text h2{
	margin: 15px 0;
	font-size: 21px;
	font-weight: 400;
	color: #313841;
	letter-spacing: 1px;
}
.s_text p{
	margin-bottom: 35px;
	color: #555555;
	line-height: 22px;
}
.s_icons{}
.s_icons li{
	margin-right: 35px !important;
}
.s_icons  li i {
	font-size: 42px;
	color: ;
	
}
.cus_and{
	margin-bottom: 22px;

}
.s_image{
	text-align: center;

}

/*Slider Ends*/
/*Feature Starts*/
.feature{
	
}
.c_title{}
.c_h1{
	margin-bottom: 15px;
	font-size: 32px;
	font-weight: 700;
	color: #010101;
}
.c_p{
	font-size: 20px;
	color:#313841 ;
	line-height: 22px;
}
.c_mt{
	margin-top: 70px;
}
.f_icon{}
.f_icon i{
	font-size: 50px;
	color: #010101 ;
}
.f_text{

}
.f_text h2{
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: 400;
	color: #010101;
}
.f_text p{
	line-height: 22px;
	letter-spacing: 1px;
}

/*Feature Ends*/
/*Contact Start*/
.contact{
	background-color: #010101;
}
.yellow{
	color:#fcdb00 ;
}
.ash{
	color: #898989;
}
.c_form{
	margin-top: 35px;
	margin-bottom: 70px;
}
.cust_input{
	height: 55px;
	font-family: 'PT Sans', sans-serif;
    color: #898989;
    padding: 15px 20px;
}
.cust_butt{
	width: 100%;
	height: 55px;
	background-color: #fcdb00;
	font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #010101;
	text-transform: uppercase;
}
.cust_butt:hover {
	background-color: #fff;

}

.c_icon{}
.c_icon li{
	margin-right: 30px !important;
}
.c_icon li:last-child {
	margin-right: 0 !important;
}
.c_icon li i{
	font-size: 42px;
	color: #fcdb00;
}
.c_icon li i:hover{
	color: #fff;
	transition: .7s;
}
/*Contact End*/
/*Footer Starts*/
footer{
	background-color: #010101;
	padding-bottom: 120px;
	
}
.f_1{}
.f_1 address{
	color: #fff;
}
.f_2 p{}
.f_2 p a {
	color: #fff;
	text-decoration: none;
}

/*Footer Ends*/
